.btn-secondary {
    border-radius: 26px!important;
}

.button {
    font-family: $font-stack;
}

.btn-grey{
    background-color: white;
    border: 1px solid gray;
    border-radius: 1px;
    margin: 5px;
}

.btn-success {
    border-radius: 1px;
    margin: 5px;
}