.btn {
    font-family: $font-titulo;
}

.btn-outline-success:hover {
    color: $quick-silver;
    background-color: $shiny-shamrock;
    border-radius: 1px;
    margin-right: 0%;
}

.btn-outline-success {
    color: $quick-silver;
    border-radius: 1px;  
    margin: none!important;
    margin: 10px;
}

.active {
    background-color: $shiny-shamrock;
    color: $white;
}

.button {
    border: 1px solid #c2c3c2!important;
}
