.article1__img {
    border-radius: 137px!important;
    align-content: right;
    width: 200px;
    padding: 1rem;
    margin-left: 7rem;
}

.article__mapa {
    position: absolute;
    width: 83%;
    margin-top: 4%;
    margin-left: -11%;
}

.article__text {
    position: absolute;
    width: 78%;
    text-align: left;
    padding: 8% 4%;
    margin: 0px 30px;
}

.article__fondomapa {
    height: 195px;
    width: 473px;
    background-color: $blue-de-france;
    margin: -3px;
}

.article__cafe {
    width: 100%;
    margin: -3px;
}

.article__imgvertical {
    height: 77px;
    transform: rotate(90deg);
    position: absolute;
    margin: 8% -17%;
}

.article-image {
    position: relative;
}

.article-info {
    background-color: #fff;
    position: absolute;
    bottom: 0%;
    left: 39%;
    padding: 2%;
    width: 58%;
}

.article-titulo {
    margin-top: 5%;
    text-align: justify;
    display: inline-block;
    width: 40%;
    height: inherit;
    margin-left: 2%;
}

.article-titulo1 {
    margin-left: 4%;
    box-sizing: border-box;
    display: inline-block;
    width: 24%;
    padding: 4px;
}

.article-titulo h1 {
    font-size: 70px;
}

.article-titulo p {
    font-size: 30px;
}

.article-titulo2 {
    display: inline-block;
    width: 35%;

}

.article-icono{
    background-color: $coral;
    width: 140px;
    height: 140px;
    position: absolute;
    bottom: 35%;
    right: 26%;
    z-index: 2;
}

.article-icono i {
    background-color: $flame;
    width: 140px;
    height: 140px;
    z-index: 1;
    bottom: 9%;
    position: absolute;
    right: 26%;
}

.fa-arrow-right:before {
    content: "\f061";
    font-size: 70px;
    position: absolute;
    top: 25%;
    color: #fff;
    left: 30%;
}
