section {
    background-image: url(../img/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 10rem;
}

.section__icono {
    width: 22px;
    top: 1rem;
}